body {
    /* --onyx: #39393A;
    --white: #FAFAFF;
    --green: #329F5B;
    --blue: #59A5D8;
    --red: #E76F51; */
    margin: 0px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

div {
    height: 100%;
    width: 100%;
}